r{color:red;}

.link1{text-decoration:none;font-weight:bold;font-family:"Arial";font-size:22px;color:#169dd5;target"_blank"}
.link1:hover{color:red;}
   
.link2{text-decoration:none;font-weight:bold;font-family:"Arial";font-size:22px;color:#98c13d;}
.link2:hover{color:red;}



